/* // Large Devices// */

@media (min-width:1200px)
{
#logo
{
    width: 120px;
}
}


/* // Medium Devices// */

@media (min-width:992px) and (max-width:1199px) 
{

    #logo
    {
        width: 100px;
    }

    #h11
    {
       
        font-size: 32px;
    }

}


/* // Small Devices// */

@media (min-width:768px) and (max-width:991px) 
{

    #logo
    {
        width: 95px;
    }


    #h11
    {
       
        font-size: 29px;
    }
    
}

/* // Extra Small Devices// */

@media (max-width:767px)

{
    #logo
    {
        width: 80px;
    }



    #h11
    {
       
        font-size: 24px;
    }

    .style-one
    {
        margin:6px auto 6px auto;
    }

    

    ul
    {
        padding-left: 5px;
    }


}

@media (max-width:480px)
{

    #logo
    {
        width: 60px;
    }



    #h11
    {
       
        font-size: 18px;
    }

    #aintable
    {
        font-size: 15px;
    }

    ul
    {
        padding-left: 5px;
    }

}


@media (max-width:320px)
{

    #logo
    {
        width: 50px;
    }

    #h11
    {
       
        font-size: 18px;
    }


}
