<!DOCTYPE html>
<html>

<head>
  <title>Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=ABeeZee" rel="stylesheet"> 
        <link rel="stylesheet" href="/stylesheets/style.css">
        
</head>


<body>


    <div class="container-fluid" id="addrescont">    
    <nav class="navbar navbar-inverse">

          <div class="navbar-header">
          </div>

          <ul class="nav navbar-nav">
                
                <li><a id="left" href="/admin">Home</a></li>
            </ul>

          <ul class="nav navbar-nav navbar-right">
                
                <li><a id="right" href="/logout">Logout</a></li>
            </ul>
       
      </nav>
<div class="addform">

  <h1 class="addresultsh1">Add New Results</h1>
  <form action="/admin/addresults" method="post" enctype="multipart/form-data">
    
    <label>Year:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <select class="inputspace" name="Year">
      <option value="I-Year">I-Year</option>
      <option value="I-I">I-I</option>
      <option value="I-II">I-II</option>
      <option value="II-I">II-I</option>
      <option value="II-II">II-II</option>
      <option value="III-I">III-I</option>
      <option value="III-II">III-II</option>
      <option value="IV-I">IV-I</option>
      <option value="IV-II">IV-II</option>
    </select>
    </br>
    <label>Regulation:</label>
    <input class="inputspace" id="regulation" type="text" name="Regulation" placeholder="ex:R15">
      

    </br>
    <label>System:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <select class="inputspace" name="system">
      <option value="grade">Grade System</option>
      <option value="marks">Marks System</option>
    </select>
    </br>
    <label>Paper:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <select class="inputspace" name="Paper">
      <option value="regular">Regular</option>
      <option value="supplementary">Supplementary</option>
    </select>
    </br>
    <label >Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input class="inputspace" id="date" name="Date" type="date" >

    </br>
    
    <input class="inputspace" type="file" name="file" accept="application/vnd.ms-excel" multiple> 
    &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <button class="btn btn-primary btn-lg" >Submit!</button>
  
  </form>

</div>


  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>

</html>