<!DOCTYPE html>
<html>
    <head>
        <title>Results</title>
    </head>
    <body>
        <a href="/admin/addresults">    Add New Results  </a>
        </br>
        <a href="/admin/editresults">    Edit Results%>   </a>
    </br>
        <a href="/logout">   logout  </a>
            
      

    </body>
</html>