<!DOCTYPE html>
<html>
    <head>
        <title>Results</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>

            <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                      <div class="navbar-header">
                      </div>

                      <ul class="nav navbar-nav">
                            
                            <li><a id="left" href="/admin">Home</a></li>
                        </ul>

                      <ul class="nav navbar-nav navbar-right">
                            
                            <li><a id="right" href="/logout">Logout</a></li>
                        </ul>
                    </div>
                  </nav>

                  <div class="content">

       <ul>

       <li> <a href="/admin/addresults">    Add New Results  </a> </li>
        </br>
        <li> <a href="/admin/editresults">    Edit Previous Results   </a> </li>
    </ul>

</div>
    
            
      
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>