<!DOCTYPE html>
<html>
    <head>
        <title>Menu</title>
    </head>
    <body>
        <ul>
        <% for(i=result_data.length-1;i>=0;i--) {%>

           
         
            <li>  <a href="/results/<%= result_data[i].listid %>">   <%= result_data[i].listid %>   </a> </li>

        <% } %>
        </ul>
   </body>
</html>