<!DOCTYPE html>
<html>
    <head>
        <title>stats</title>
    </head>
    <body>


<form action="/register" method="POST">
    <input name="username" placeholder="User Name" type='text'>
    <input name="password" placeholder="Password" type='password'>
   
    
    
</form>


</body>
</html>

