.form
{
    width: 35%;
    margin: auto;
    margin-top:10%;
    background-color: white;

     border:1px 	#DCDCDC solid; 
     border-radius: 15px;
    padding: 50px 25px 70px 25px;
    
}

.btn-primary
{
    background-color: black;
    border-radius: 5%;

}

.addform
{
    margin-top: 30px;
    margin-left: 120px; 
    font-size: 25px;  
}

body{
    background-color: #F5F5F5;
    font-family: 'Raleway', sans-serif;
font-weight: normal;
}

#loginh2{
    margin-bottom: 25px;
    font-family: 'Raleway', sans-serif;
font-weight: strong;


}

#regulation
{
    width: 15%;
}

#left
{
    margin-left: 5px;
}

#right
{
    margin-right: 10px;
}

.addresultsh1
{
    
        text-decoration: underline;
    margin-left: 5px;
}

.content
{
    margin-top: 75px;
    margin-left: 50px;
    
    font-size: 30px;
    
}

.inputspace
{
    margin:8px 8px 8px 8px;
}

.editresults
{

    margin-top: 50px;
    margin-left: 150px;
    font-size: 28px;
    width: 70%;
}


.editresultsh1
{
    text-decoration: underline;
    font-size: 40px;
}

#eachresult
{

   
    
    
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 4px solid #696969;
}
